.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: #eee;
    border: 2px solid black;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 200px;
    height: 200px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    background-color: #fff;
    border: 1px solid black;
  }
  
  .square:hover {
    background-color: #ddd;
  }